.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quoteCard{
    width: 90%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    padding-block: 25px;
    margin-block: 10px;
    background: #2e2441;
    text-align: justify;
    white-space: pre-wrap;
    font-size: 1.2em;
    line-height: 150%;
}

.quoteNumber{
    text-align: right;
    width: 100%;
    padding-right: 5%;
    padding-bottom: 10px;
}

.searchField{
    /* height:2.5em; */
    font-size: 2em;
    margin-block: 10px;
    max-width: 90%;
}

.pageTitle{
    padding-top: 15px;
}

.stickyMenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 10px;

}