.content {

    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    transition: 0.1s ease-out;
    margin-top: 25px;
}

.card {
    height: 200px;
    outline: 1px solid white;
    padding: 50px;
    border-radius: 50px;
}

.dismissLeft {
    transform: translateX(-200%) !important;
    transition: transform 0.5s ease-in-out !important;
}

.dismissRight {
    transform: translateX(200%) !important;
    transition: transform 0.5s ease-in-out !important;
}

.opacityTransition{
    opacity: 0;

}

.opacityHardCut{
    transition: unset;
}

.fadeIn{
    opacity: 1;
    width: 90%;
    
}

.hide{
    display: none;
}